Repository aryanprince/ASE-Assignment, changes with the labels that .github/labeler.yml gives for each.
All labels: 🤖 testing, 🏭 ci, ✏️ design

docs: Added (hidden) issue counter badge
  README.md
Labels: none

seperated part 2 tests
  Test-Project/PartTwoTests.cs
Labels: 🤖 testing

updated rectangle tests
  Test-Project/PartOneTests.cs
  Test-Project/Test-Project.csproj
Labels: 🤖 testing

removed unused label parameter from shapefactory
  Main-Project/Form-Main.cs
  Main-Project/ShapeFactory.cs
Labels: none

added rectangle instance tests
  Test-Project/PartOneTests.cs
  Test-Project/PartTwoTests.cs
  Test-Project/Test-Project.csproj
Labels: 🤖 testing

circle has instance tests, private readonly parser now
  Test-Project/PartOneTests.cs
Labels: 🤖 testing

added square tests
  Test-Project/PartOneTests.cs
Labels: 🤖 testing

added a new square class (#59)
  Main-Project/Main-Project.csproj
  Main-Project/Rectangle.cs
  Main-Project/ShapeFactory.cs
  Main-Project/Square.cs
Labels: none

test method names are uniform now
  Test-Project/PartOneTests.cs
Labels: 🤖 testing

assert is not null everywhere
  Test-Project/PartOneTests.cs
Labels: 🤖 testing

added more rigorous line tests
  Test-Project/PartOneTests.cs
Labels: 🤖 testing

feat: Improved testing and added Square class (#60)
  Main-Project/Form-Main.cs
  Main-Project/Main-Project.csproj
  Main-Project/Rectangle.cs
  Main-Project/ShapeFactory.cs
  Main-Project/Square.cs
  Test-Project/PartOneTests.cs
  Test-Project/PartTwoTests.cs
  Test-Project/Test-Project.csproj
  Test-Project/UnitTest.cs
Labels: 🤖 testing

ci: Removed ci build on main pushes
  .github/workflows/ci-build.yml
Labels: 🏭 ci

ci: Added VSTest
  .github/workflows/ci-build.yml
Labels: 🏭 ci

.github/labeler.yml:

"🤖 testing":
  - any: ["./Test-Project/**/*"]

"🏭 ci":
  - any: [".github/**/*"]

"✏️ design":
  - any: ["./Main-Project/Form-Main.Designer.cs"]
